#dashboardContainer {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 3vw;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  transition: all ease-in-out 0.5s;
}

#dashboardContainer .dates {
  padding-top: 5vw;
}

#dashboardTable {
  background-color: transparent;
  text-align: center;
  border: none;
}

#dashboardTable tr {
  background-color: transparent;
  text-align: center;
}

#dashboardTable th {
  padding: 10px;
  width: 33%;
}

#AddCircleIconFamily {
  margin-left: 40%;
  margin-top: 25%;
  padding-bottom: 5vw;
}

#AddCircleIcon {
  cursor: pointer;
  font-size: 5vw;
}

#ArrowRightFamily img {
  height: 4vw;
  margin-left: -2.25vw;
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#ArrowRight1 {
  animation-name: arrows;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -2s;
}

#ArrowRight2 {
  animation-name: arrows;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

#ArrowRight3 {
  animation-name: arrows;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@media (max-width: 800px) {
  #dashboardContainer {
    width: 100%;
  }

  #AddCircleIcon {
    font-size: 10vw;
  }

  #ArrowRightFamily img {
    height: 8vw;
    margin-left: -4.5vw;
  }
}
