#editOrderTable {
  border: 4px outset #a4471c;
  border-radius: 8px;
  box-shadow: 20px 16px 44px -16px rgba(101, 101, 102, 1);
  width: 100%;
  max-height: 85%;
  max-width: 800px;
  background-color: white;
  top: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0.7;
  color: black;
}

#editOrderTable td,
#editOrderTable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  width: 25%;
}

#editOrderTable td input,
#editOrderTable th input {
  width: 90%;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

#errorEmpty {
  color: red;
}
