.abcRioButtonLightBlue {
  margin-left: auto;
  margin-right: auto;
}

#background {
  filter: blur(1px);
  height: -webkit-fill-available;
  height: -moz-fill-available;
  height: -ms-fill-available;
  height: -o-fill-available;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: -ms-fill-available;
  width: -o-fill-available;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 0.8;
}

#signInContainer {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 3vw;
  padding: 4vw;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  transition: all ease-in-out 0.5s;
}

#signInContainer:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
