#main {
  margin-left: 20px;
  margin-right: 20px;
}

#nav_button {
  text-align: center;
  margin: 10px;
}

#HomeIcon,
#PostAddIcon,
#LibraryBooksIcon {
  margin-right: 5px;
}

#HomeButton,
#PostAddButton,
#LibraryBooksButton {
  margin-left: 1vw;
  margin-right: 1vw;
}
